################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/alla-1/v15/Browse.VC.db
/.vs/slnx.sqlite
/.vs/alla-1/v15/Browse.VC.opendb
/.vs/ProjectSettings.json
/.vs/alla-1/v15/ipch/AutoPCH/f6c2f021/MAIN-f15dac52/MAIN.ipch
*.ipch
/.vs/alla-1/v15/.suo
/.vs/tasks.vs.json
/.vs/tasks.vs.json
